avro-python3==1.10.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
confluent-kafka==1.6.1
fastavro==1.4.0
idna==2.9
PyQt5==5.15.2
PyQt5-sip==12.8.1
pytz==2020.1
requests==2.23.0
urllib3==1.25.9
jaws-libp==2.4.0